<div class="mx-auto">
  <h1 class="font-bold text-4xl text-cyan-600">Write Something ....</h1>
  <br>
 
  <%# <%= form_with(model: @story, url: story_path(@story), method: "post") do |form| %>
    <%= form_with model: @story, url: new_story_path(@story), local: true do |form| %>

    <div class="mb-6">
      <%= form.label :title, class: "block mb-2 text-sm font-medium text-blue-900" %>
      <%= form.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
    <div class="mb-6">
      <%= form.label :body, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%# <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>

      <%= form.text_area :body, :class => "tinymce" %>
      <%= tinymce %>
   </div>


    <div class="mb-6">
    
      <%= form.label :tags, class: "block mb-2 text-sm font-medium text-blue-900" %>
      <%# <label for="comma-separated-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comma-Separated List</label> %>
   <%= form.text_field :tag_ids,  class: "border rounded px-3 py-2 w-full", placeholder: "Enter items separated by commas" %>
  <p> <%= Tag.active_tags.map(&:label).first(5) %> </p>
    </div>
    <%# <div class="mb-6">
      <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%# <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    <%# </div> %> 
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  
  <% end %>

</div>
