<!DOCTYPE html>
<html>
  <head>
    <title>CultureR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= tinymce_assets %>

    <%# <script type="text/javascript" src="/assets/tinymce.js"></script> %>


  </head>

  <body  class="bg-gray-100">
   <%= render "layouts/navbar" %>
   <%= render "layouts/flash_messages" %>

    <main class="container mx-auto mt-28 px-5 flex bg-gray-100">
      <%= yield %>
    </main>
      <%= render "layouts/footer" %>

       <script>
   tinymce.init({
     selector: '.tinymce',
     height: 500,
     menubar: false,
     plugins: [
       'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
       'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
       'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
     ],
     toolbar: 'undo redo | casechange blocks | bold italic backcolor | ' +
       'alignleft aligncenter alignright alignjustify | ' +
       'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
   });
 </script>

  </body>
</html>
